<!DOCTYPE html>

<html>
    <head>
        <title>FAQ</title>

    </head>
 
    <div class="topnav" >
        
        <a href="faq.html">Faq</a>
        <a href="index.html">Information</a>
        
    </div>
    <body>
        <h1>Ulrich's website</h1>
        <p>The company</p>

        <img src='../images/data.jpg' alt="Data scientist" width="500" height="600"/>

        <p><strong>Welcome</strong></p>

        <p>My phone number : <strong> 07 76 54 13 66</strong></p>   

        

        <img src='../images/mochi.gif'/>



    </body>
</html>