<!DOCTYPE html>

<html lang='en'>
    <head>
        <link rel = 'stylesheet' href='../css/style.css'/>
        <meta charset='UTF-8'/>
        <title>Ulrich's website</title>

    </head>
    <div class="topnav">
        
        <a href="faq.html">Faq</a>
        <a href="index.html">Information</a> 
    </div>
    
    <body>


        <h1>Ulrich's website</h1>
        <p><strong>Welcome on Ulrich's website</strong></p>

        <h2>Who am I ?</h2>
        <p>Hi ! My name is Ulrich, I am a student in engineering school.</p>

        <h2>My educational background</h2>

        <ul>
            <li>ESILV 2019-2022</li>
            <li>CPGE PTSI PT*</li>
            <li>CPGE PCSI</li>
        </ul>

        <hr/>
        
        <h2>My professional background</h2>
        <ol>
            <li>My Mentor : Mathematics Professor</li>
            <li>Amazon : Logistic employee</li>
            <li>Pokawa : Waiter</li>
        </ol>

        <hr/>

        <p>If you want to know more about me, click <a href='faq.html'>here</a></p>



    </body>
    
</html>